<a
  href="https://github.com/mhyfritz/astro-landing-page"
  aria-label="View source on GitHub"
  class="absolute right-0 top-0 z-10 text-black hover:text-black focus:ring-0 focus:ring-offset-0"
>
  <!-- Usa el archivo SVG como fuente -->
  <img
    src="/assets/icons/logomark.svg"
    alt="Synthesizer Icon"
    class="w-20 h-20 fill-white"
  />
</a>

<style>
  a:hover img {
    animation: synth-wave 560ms ease-in-out;
  }
  @keyframes synth-wave {
    0%,
    100% {
      transform: rotate(0);
    }
    20%,
    60% {
      transform: rotate(-25deg);
    }
    40%,
    80% {
      transform: rotate(10deg);
    }
  }
  @media (max-width: 500px) {
    a:hover img {
      animation: none;
    }
    a img {
      animation: synth-wave 560ms ease-in-out;
    }
  }
</style>







