---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Síntesis y diseño sonoro" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead">
    Axx xx x xxx xxx xx xxx xxxxx xxx xxx
    <span class="text-primary">xxxxx</span> xxx.
    <span class="text-primary">Lxxxxxxx-fxxx</span>
    xxxxxxxxxxx xxxxx <span class="text-primary">xxxxxxxx</span> xxxxxxxx xxxxxx.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://www.instagram.com/van_shake/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>xxxx xxx xxxx</span>
    </a>
    <a
      href="https://www.instagram.com/van_shake/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>xxx xxx xxxx</span>
    </a>
  </div>
</ContentSection>
